.geolocation-map-container {
  height: 300px;
  width: 100%;
}

.geolocation-context-popup {
  z-index: 1;
  position: absolute;
  padding: 10px;
  max-width: 256px;
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  font-family: Arial, sans-serif;
}

.geolocation-map-control {
  display: block;
  margin: 1em 0 0 1em;
}

.geolocation-map-control input,
.geolocation-map-control button {
  height: 32px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.geolocation-map-control input:not(.button) {
  text-overflow: ellipsis;
  box-sizing: content-box;
  font-size: 14px;
  margin: 0;
  padding: 0 1em;
  width: 200px;
  max-width: 350px;
  z-index: 3;
  border: 0;
}

.geolocation-map-control input.location:focus {
  border-color: #4d90fe;
}

.geolocation-map-control input.button,
.geolocation-map-control button {
  color: #fff;
  cursor: pointer;
  border: none;
  z-index: 2;
}

.geolocation-map-control input.button::before,
.geolocation-map-control button::before {
  background-size: contain;
  height: 18px;
  width: 18px;
  content: "";
  display: block;
  margin: 0 auto;
}

.geolocation-map-control input.button.recenter,
.geolocation-map-control button.recenter {
  background: #dd001e;
}
.geolocation-map-control input.button.recenter::before,
.geolocation-map-control button.recenter::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAa9JREFUeNrU1c8rg3EcwPGN2Q5cJC6EprjNj4NCKeWgFCkpB5SIi7lo4eCkUFycyMEfwMUOTH6ckCIHOYyDkJNSlh9ruzzeX32s2Z5nttlz8K3XDs+e5/P5Pt/v5/N9sjRNs5gpy2LyMD2BTf2Ew2Gj/x2oQS9aUSjPvMOPDfjwCO37IbvdHglgVetkkKAE0+jDPY5whg+UoRkNElzdt6vmGpvgayNCoVCsChwggDE4dO5RXPAiiFHkqOvRm2zTmXkBFlCNdpm50bhEJ1awiAdsJ9rkbHSjA4O/BI8sAkZwgjmZYFyCeuQiH8PYglftUQqVNgkn2vQSrGMIVSjHsmzyuFxLZlzgWFbgZ5kyduCRJbmV8lyVatlPoexVggG9N5iVwD2SdAmlcOMqhQQ3yNNL8IIZBFCLV/TjMCOdLOMUa2iS/fCnEa8Sb9EXYju5SCrpOs0Jq2MjSCd3GfXB0x+C18nbb5p1ms5LofiSSeCU3mhJIrBVSroRU3hOJoE6MYulo93SF3rDJfeoipvAXlx2g+PaKn3gkYfvpAnPUz2uE30PMvfB+dffZNMTfAowAA2eAOjeCmcEAAAAAElFTkSuQmCC);
}

.geolocation-map-control input.button.locate,
.geolocation-map-control button.locate {
  background: #4d90fe;
}
.geolocation-map-control input.button.locate::before,
.geolocation-map-control button.locate::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AcVCg45w2bqzwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAHjSURBVEjHxdY7aFZBEAXg75qIhTEaBU2tpBC7IBgfTSoxQiy0EcFCsRKfRcBCopWSgAgWNmIjdlaiSECwUMHGRtRGErSSCPGBIKKRscj+sFnun9xA0APL3T27s7PMnJ29IkLDNhgRUxExGRH9Te1WaI416VthbVOjKiIWml+Ng9iLbehO/Be8wkPcx6+lOujAYZxDzyKH/IgreNDUwUpcxz5Lw+3k6E9OljmoMFaz+Swms/G7ciMcw6XSa+ngKA4U3B3sxI2Mu4o9KQc5jmConYPuFPMcIxjFTE1IpnEqhTPHhZTDOWSaPZF03mqjhaZ7ImJ3al0ZX0XEzcJ2f2s+T/I99Kf+b+zA14YJ7sNENn6Ek9CZErou6byF99iFwDN8b7Pxegyk/gw2pP72JPPpKiKmFjndcTxpMzdck4MFVbTsqCJiIGX9FlYl/m26NFJJWChEW1N/HL3Z7R7Bz068SOSbLMl9abxYkj/jeVrfm/EvEz8vRI+LcnGm5rRDqXUVt/98sXai7h5sjIjXhZ4PZfPDGT+Y8acLm6cR0VH3HnyqUcQYLmfyy7EplY+zBT+v4JXVtMK1mno0iw/YkhW7zfNKwhzu4uI/Ldf/5cFZ1ifTEv4q2qlo2f4qfrTOhG9Njf4C0EWk9x5z6KYAAAAASUVORK5CYII=);
}
